<!DOCTYPE html>
<html>
<body>

<table>
    <thead>
        <tr>
            <th>Client Reference No</th>
            <th>Balance</th>
            <th>Status</th>
            <th>Consumer Name</th>
            <th>Consumer Address</th>
            <th>SSN</th>
        </tr>
    </thead>
    <tbody>
        {% for combined_data in page_obj %}
        <tr>
            <td>{{ combined_data.client_reference_no }}</td>
            <td>{{ combined_data.balance }}</td>
            <td>{{ combined_data.status }}</td>
            <td>{{ combined_data.consumers }}</td>
            <td>{{ combined_data.address }}</td>
            <td>{{ combined_data.ssn }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1
            {% if min_balance %}&min_balance={{ min_balance }}{% endif %}
            {% if max_balance %}&max_balance={{ max_balance }}{% endif %}
            {% if status %}&status={{ status }}{% endif %}
            {% if consumer_name %}&consumer_name={{ consumer_name }}{% endif %}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}
            {% if min_balance %}&min_balance={{ min_balance }}{% endif %}
            {% if max_balance %}&max_balance={{ max_balance }}{% endif %}
            {% if status %}&status={{ status }}{% endif %}
            {% if consumer_name %}&consumer_name={{ consumer_name }}{% endif %}">previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}
            {% if min_balance %}&min_balance={{ min_balance }}{% endif %}
            {% if max_balance %}&max_balance={{ max_balance }}{% endif %}
            {% if status %}&status={{ status }}{% endif %}
            {% if consumer_name %}&consumer_name={{ consumer_name }}{% endif %}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}
            {% if min_balance %}&min_balance={{ min_balance }}{% endif %}
            {% if max_balance %}&max_balance={{ max_balance }}{% endif %}
            {% if status %}&status={{ status }}{% endif %}
            {% if consumer_name %}&consumer_name={{ consumer_name }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</body>
</html>